.category-container{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
    padding: 20px 22px;
}
.category-container img{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
    padding: 8px;
}
.category-container h3{
    margin-top: 12px;
    margin-bottom: 8px;
}