.home-container{
    max-width: 1120px;
    margin: auto;
}

.job-title{
    text-align: center;
    color: #1A1919;
    font-size: 28px;
    font-weight: 700px;
    margin-top: 40px;
}
.job-description{
    text-align: center;
    color: #1A1919;
    font-size: 14px;
    font-weight: 500px;
    margin-top: 12px;
}
.category-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 15px;
}